#widgets_tree_body td {
    cursor: pointer;
}
#content {
    display: none;
    padding: 5px;
    overflow: auto;
}
#images_container *, #labels_container * {
    margin: 2px;
}
#contentbox_container {
    height: 600px;
}
#contentbox {
    width: 300px;
    margin: 0;
}
#file_container {
    height: 4em;
}
#main_notebook {
    margin-left: 10px;
    width: 500px;
}
.demo, .demo_label, div.demo span.button_label_default, .demo * {
    color: #4546d0;
}

span.c_comment {
    color: #0066dd;
}
span.c_label {
    color: #447722;
}
span.c_string {
    color: #009faf;
}
span.c_subroutine {
    color: #000000;
}
span.c_variable {
    color: #1133bb;
}
span.c_keyword {
    color: #992f88;
}
span.c_misc {
    color: #bf6c33;
}
#menus_container {
    height: 250px;
}
#menus_container div.button {
    margin: 100px auto;
    float: none;
}
#rpc_button, #rpc_combo, #rpc_label {
    margin: 1em auto;
    float: none;
    display: block;
}
#rpc_label {
    width: 15em;
}
#source_page {
    overflow: auto;
}

/* Tests */
#log {
  padding-bottom: 1em;
  border-bottom: 2px solid #000;
  margin-bottom: 2em;
}

#logsummary {
  margin-bottom: 1em;
  padding: 1ex;
  border: 1px solid #000;
  font-weight: bold;
}

#logtable {
  width:100%;
  border-collapse: collapse;
  border: 1px dotted #666;
}

#logtable td, #logtable th {
  text-align: left;
  padding: 3px 8px;
  border: 1px dotted #666;
}

#logtable .passed {
  background-color: #cfc;
}

#logtable .failed, #logtable .error {
  background-color: #fcc;
}

#logtable td div.action_buttons {
  display: inline;
}

#logtable td div.action_buttons input {
  margin: 0 5px;
  font-size: 10px;
}
#source1 {
    border: 1px solid black;
    margin: 2px 6px;
    width: 80px;
    background: #26da46;
    position: relative;
    z-index: 2;
    text-align: center;
}

#source2 {
    border: 1px solid black;
    margin: 2px 6px;
    width: 70px;
    background: #26da46;
    position: relative;
    z-index: 3;
}

#source3 {
    border: 1px solid black;
    margin: 2px 6px;
    width: 70px;
    background: #26da46;
    position: relative;
    z-index: 3;
}

#dest1 {
    position: relative;
    width: 120px;
    height: 50px;
    background: #559dda;
    z-index: 1;
    text-align: center;
}

#dest1.hover {
    border: 2px solid red;
}
