#list thead.tree_header th, #list thead.tree_header td { 
    padding: 0 0 2px 5px;
}
li.menu_separator {
    height: auto;
}
span.menubar_item_label {
    padding: 2px 2px 3px 2px;
}
span.menubar_item_label_iconic {
    padding-left: 22px;
}
li.menubar_item_selected {
    padding: 0 5px 0 5px;
}
div.notebook_content {   
    width: 99.7%;
    margin-top: 0;
}
div.shadowbox div.contentbox_footerr {
    padding-bottom: 1px;
}

div.iconbox_status_label, .icon_label {
    text-overflow:ellipsis;
}

/* If the iconbox is in a scrollable static container, the icons will not be clipped in IE7 when the icon container position is relative */
div.iconbox_icon_container {
    position: static;
    _position: relative;
}

.iconview input.iwl-cell-editable {
    margin-left: -10px;
    width: 97%;
}
